body {
	margin: 80px 0 0 0;
	background-color: #efefef;
	color: #333333;
}	
h1,h2,h3,h4,h5,h6 {
	color: #DD4814;
}
p, li, tag {
	color: #333333;
}
hr {
	border: 0;
	background-color: silver;
	height: 1px;
}
section #mainContent {
	overflow-x: auto;
}
aside {
	height: 100%;
	padding: 20px;
}
	aside ul {
		list-style: none;
	}
		aside ul li {
			margin: 2px 0 0 -30px;
		}
tag {
	margin: 0 0 20px 0;
	display: block;
}
	tag strong {
		font-weight: normal;
	}
nav .active {
	background-color: #AE3910;
}
a[name] {/* bootstrap fixed nav anchor jump fix */
  display: block; 
  position: relative; 
  top: -80px; 
  visibility: hidden;
}
blockquote {
	font-size: small;
	font-style: italic;
	font-family: monospace;
}
footer {
	padding: 20px;
}
	footer .container span {
		/*display: block;*/
		/*border: 1px solid red;*/
		/*margin: -10px 10px 0 0;*/
	}
	footer .container span a {
		/*float: left;*/
		/*display: block;*/
	}
	#footerInfo {
		margin-top: 10px;
		border-top: 1px solid silver;
		border-bottom: 1px solid silver;
	}
	#footerInfo div img {
		padding: 0;
		margin: 3px 0 0 0;
	}
	#footerInfo div {
		padding: 10px 40px 10px 0;
	}
img {
	border-radius: 3px;
}


#header {
	background-color: #fff;
}
	#header h3 img {
		position: relative;
		top: 2px;
	}
#inputSearch{
	margin: 0 20px 0 0;
}
#suggest {
	z-index: 10;
	position: absolute;
	background-color: white;
	border: 1px solid silver;
	height: auto;
	width: 400px;
	padding: 10px 20px;
}
	#suggest a {
		display: block;
		padding: 5px !important;
		margin: 0 !important;
		border-bottom: 1px dotted silver;
	}
	#suggest a:hover {
		background-color: #f5f5f5;
	}
	.suggestHover {
		background-color: #f5f5f5;
	}	
label span {
	font-size: smaller;
	font-style: italic;	
	font-weight: normal;
}

.text-black {
	color: #303030 !important;
}
.text-shadow {
    text-shadow: 0px 0px 3px #000;
}
.topShadow {
	box-shadow:0px -10px 40px rgba(0, 0, 0, 0.8);
}	
.paper {
	background-color: #fff; 
}
.shadow {
	box-shadow: 0px 0px 10px #d0d0d0;
}
.padding20 {
	padding: 20px;
}
.prettyBorder {
	border: 1px solid #d0d0d0;
	border-radius: 3px;
}
.space {
	display: block;
	height: 1000px;
}

.un {
	font-weight: bold;
	font-size: 24px;
	padding: 0;
	margin: 0;
}
	.un .n {
		margin-left: -6px;
	}
	
.dates li a {
	margin-top: 2px;
	display: inline-block;
	padding: 5px 10px;
}	
.tags li a {
	margin: 2px 2px;
	display: inline-block;
	float: left;
}	
	.tags li a .badge {
		font-family: monospace;
		/*font-size: 10px;*/
		padding: 1px 3px;
		background-color: #DD4814;
		color: #fff;
	}	
spec {
	display: none !important;
}	
.ucfirst:first-letter
{
    text-transform: uppercase;
}	
.shariff ul li.info, .share_text {
	display: none;
}
	/*.shariff ul li, .shariff-button, .twitter, .googleplus {
		max-width: 35px !important;
		margin: 0;
		padding: 0;
		float: left;
	}*/
	.shariff ul li a {
		/*max-width: 35px !important;*/
		/*background-color: #aea79f !important;*/
		color: white;
		border: 1px solid silver;
		border-radius: 3px;
		/*opacity: 0.3;*/
		/*font-weight: bold;*/
	}
	.shariff ul li a:hover {
		/*background-color: #978E83 !important;*/
		color: white;
		/*border: 1px solid gray;*/
		border-radius: 3px;
		opacity: 1;
	}
.printOnly{
    display: none;
}
/* progress CSS
 */
.visualizeConsumption {
}

.progress {
	position: absolute;
}		
	.progresstext {
		position: absolute;
		left: 10px;
	}	
	
@media print {

	body {
		margin: 0;
	}	
	body,h1,h2,h3,h4,h5,h6,p,li,tag {
		color: #000;
		background-color: transparent;
		font-family: serif;
	}
        .container, #mainContent {
            width: 100%;
        }
        #navbar, section .col-lg-3, .noPrint {
            display: none;
        }
        .printOnly {
            display: inherit;
        }
	pre {
		font-family: monospace;
	}
	section {
		margin: 0;
		padding: 0;
	}
	.prettyBorder {
		border: none;
	}
}	


.adTable, .adTable tr, .adTable td {
    border-collapse: collapse !important;
    border: none !important;    
    margin: 0 !important;
    padding: 0 !important;
}
.adTable:hover, .adTable tr:hover, .adTable td:hover {
    background-color: transparent !important;
}
sub {
    color: gray;
}
